Flask==0.12.2
Unidecode==1.0.22
tensorflow==2.3.1
wikipedia==1.4.0
WTForms==2.1
Flask_WTF==0.14.2
Wikidata==0.6.1
praw==5.4.0
urllib3==1.13.1
Keras==2.1.6
tflearn==0.3.2
requests==2.9.1
nltk==3.2.5
beautifulsoup4==4.6.0
